header.page-header{
    padding:2rem;
}

.top-bar-container{
    display: flex;
    color:var(--color-light-in-dark);
    align-items: center;
}
.page-name{
    font-size: 2.5rem;
}
#profile-image{
    object-fit: cover;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
    border:2px solid var(--color-light-in-dark);
}