:root {
    --color-background-1: #FB7969;
    --color-background-2: #245068;
    --color-light-in-dark: #F4F5F6;
    --color-highlight: #31997f;
    --color-input-background: #CED4E4;
    --color-text-in-white: #4B4B4D;

    font-size: 60%;
}

* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    border: 0;
}

html, body, #root{
    height: 100vh;
}

body {
    background-image: linear-gradient(var(--color-background-2),var(--color-background-1));
}

#root{
    display:flex;
    align-items: center;
    justify-content:center;
}


body,
input,
button,
textarea{
    font: 600 1.6rem Open Sans;
    color: var(--color-text-in-white);
    font-size:1.5rem;
}

.container{
    width:90vw;

}

@media(min-width:700px){
    :root {
        font-size: 62.5%;
    }
    
}